<nav class="header__menu main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">Курсы</a>

			<ul class="main-nav__submenu show-menu">
				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Уровень меню 2</a>

					<ul class="main-nav__submenu show-menu">
						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 3</a>
						</li>

						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 3</a>
						</li>

						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 3</a>
						</li>
					</ul>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Уровень меню 2</a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Уровень меню 2</a>
				</li>
			</ul>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">Мастер-классы</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">Практика</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">Аудит</a>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">О нас в цифрах</a>

			<ul class="main-nav__submenu show-menu">
				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Уровень меню 2</a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink current">Уровень меню 2</a>
				</li>

				<li class="main-nav__subitem hover-item">
					<a href="#" class="main-nav__sublink">Уровень меню 2</a>
					<ul class="main-nav__submenu show-menu">
						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 2</a>
						</li>

						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 2</a>
						</li>

						<li class="main-nav__subitem hover-item">
							<a href="#" class="main-nav__sublink">Уровень меню 2</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>

		<li class="main-nav__item hover-item">
			<a href="#" class="main-nav__link animate-link">Информация студентам</a>
		</li>
	</ul>
</nav>
